// ========================================== Theame Color's ========================================== //

$dark-color: #040b14;
$primary-color: #173b6c;
$secondary-color: #149ddd;
$white: #fff;
$gray: #272829;
$color1: #2c2f3f;


// ========================================== Common CSS ========================================== //

body {
    font-family: "Open Sans", sans-serif;
    color: $gray;
}

.facts .count-box p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Raleway, sans-serif
}

a {
    color: $secondary-color;
    text-decoration: none
}

a:hover {
    color: $primary-color;
    text-decoration: none
}

.container,
.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1400px;
}



section {
    padding: 60px 0;
    overflow: hidden;
}


.button{
    background: $secondary-color;
    border: 2px solid $secondary-color;
    padding: 10px 24px;
    color: $white;
    transition: .4s;
    border-radius: 4px;
    &:hover{
        border: 2px solid $secondary-color;
        background: $white;
        color: $secondary-color;
        border-radius: 0;
    }
}
